<% include partials/header.ejs %>
<h1>You fell in love with: <%= brd %> </h1>
<% if(brd.toLowerCase()==="husky"){ %>
<p>Good choice moon moon!</p>
<% }else{ %>
<p>No moon moon!</p>
<% } %>
<p>
  This is the luv.ejs file!
</p>

<% include partials/footer.ejs %>